In [1]:
# 위키피디아에서 인구에 대한 내용 가져오기
%pip install lxml
%pip install html5lib

import pandas as pd

table = "https://ko.wikipedia.org/wiki/%EB%8C%80%ED%95%9C%EB%AF%BC%EA%B5%AD%EC%9D%98_%EC%9D%B8%EA%B5%AC"
tdata = pd.read_html(table)

tdata

Requirement already satisfied: lxml in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (5.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: html5lib in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\user\appdata\roaming\python\python312\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from html5lib) (0.5.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.1 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

[   Unnamed: 0_level_0    2016           2017          2018          2019  \
    Unnamed: 0_level_1      인구   인구밀도      인구   인구밀도     인구   인구밀도     인구
 0                   계   51218    510   51362    512  51607    514  51709
 1                  서울    9843  16263    9766  16136   9705  16034   9662
 2                  부산  약3,500   4477  약3,100   4447   3400   4416   3300
 3                  대구    2461   2786    2458   2782   2450   2773   2432
 4                  인천    2907   2736    2924   2750   2939   2764   2944
 5                  광주    1502   2997    1495   2984   1493   2980   1494
 6                  대전    1536   2848    1528   2832   1518   2813   1509
 7                  울산    1166   1099    1159   1092   1154   1088   1147
 8                  세종     234    504     266    571    304    653    331
 9                  경기   12600   1237   12786   1255  13031   1279  13238
 10                 강원    1521     90    1521     90   1521     90   1517
 11                 충북    1601    216    1609    217   1619    219   1626
 12                 충남    2126    258    2153    262   2180    265   2188
 13                 전북    1835    227    1829    227   1820    226   1803
 14                 전남    1798    146    1795    146   1790    145   1773
 15                 경북    2683    141    2675    141   2674    141   2665
 16                 경남    3338    317    3339    317   3356    318   3350
 17                 제주     618    334     635    343    653    353    660
 18                수도권   25350   2139   25476   2149  25675   2165  25844

             2020
      인구밀도     인구   인구밀도
 0     515  51781    516
 1   15964   9602  15865
 2    4380   3344   4342
 3    2753   2419   2738
 4    2769   2951   2770
 5    2980   1488   2969
 6    2796   1500   2780
 7    1080   1140   1073
 8     712    349    750
 9    1299  13405   1315
 10     90   1515     90
 11    219   1632    220
 12    265   2204    267
 13    223   1792    222
 14    144   1764    143
 15    140   2655    140
 16    318   3350    318
 17    356    670    362
 18   2179  25958   2188  ,
           Unnamed: 0         Unnamed: 1     2011   2012   2013   2014   2015  \
 0               기대수명                  계    80.62  80.87  81.36  81.80  82.06
 1               기대수명                 남자    77.26  77.57  78.12  78.58  78.96
 2               기대수명                 여자    83.97  84.17  84.60  85.02  85.17
 3  유병기간제외 기대수명(건강수명)  유병기간제외 기대수명(건강수명)  (자료 없음)  65.70      -  65.20      -

    2016   2017  2018   2019
 0  82.4  82.70  82.7  83.30
 1  79.3  79.70  79.7  80.30
 2  85.4  85.70  85.7  86.30
 3  64.9      -  64.4      -  ,
   대한민국의 총인구                                                                   \
        1949         1955         1970         1980         1985         1995
 0  20166756  ↗21,502,386  ↗31,435,252  ↗37,406,815  ↗40,419,652  ↗44,553,710

                                                                     \
           2005         2010         2015         2018         2019
 0  ↗47,041,434  ↗47,990,761  ↗51,069,375  ↗51,629,512  ↗51,779,203


           2020
 0  ↗51,829,136  ,
   대한민국의 주민등록 인구                                                      \
            2008         2009         2010         2013         2015
 0      49540367  ↗49,773,145  ↗50,515,666  ↗51,141,463  ↗51,529,338

                                                                     \
           2016         2018     2019. 10     2019. 11     2019. 12
 0  ↗51,696,216  ↗51,826,059  ↗51,850,705  ↗51,851,427  ↘51,849,861


           2020     2021. 07
 0  ↘51,779,203  ↘51,671,569  ,
     연도 (년)   추계인구(명)  출생자수(명)  사망자수(명)  자연증가수(명)  조출생률 (1000명당)  \
 0     1925  12997611   558897   359042    199855           43.0
 1     1926  13052741   511667   337948    173719           39.2
 2     1927  13037169   534524   353818    180706           41.0
 3     1928  13105131   566142   357701    208441           43.2
 4     1929  13124279   566969   414366    152603           43.2
 5     1930  13880469   587144   322611    264533           42.3
 6     1931  13895052   589428   346800    242628           42.4
 7     1932  14117191   600545   384287    216258           42.5
 8     1933  14229277   607021   336232    270789           42.7
 9     1934  14449155   618135   356515    261620           42.8
 10    1935  15061960   646158   377454    268704           42.9
 11    1936  15114775   639355   381806    257549           42.3
 12    1937  15235383   636839   342575    294264           41.8
 13    1938  15358193   569299   347025    222274           37.1
 14    1939  15486028   585482   353391    232091           37.8
 15    1940  15559741   527964   358496    169468           33.9
 16    1941  15745478   553690   366239    187451           35.2
 17    1942  16013742   533768   376003    157765           33.3
 18    1943  16239721   513846   384881    128965           31.6
 19    1944  16599172   533215   380121    153094           32.1

     조사망률 (1000명당)  자연증가율 (1000명당)  합계출산율
 0            27.6            15.4   6.59
 1            25.9            13.3    NaN
 2            27.1            13.9    NaN
 3            27.3            15.9    NaN
 4            31.6            11.6    NaN
 5            23.2            19.1   6.41
 6            25.0            17.4    NaN
 7            27.2            15.3    NaN
 8            23.6            19.1    NaN
 9            24.7            18.1    NaN
 10           25.1            17.8   6.60
 11           25.3            17.0    NaN
 12           22.5            19.3    NaN
 13           22.6            14.5    NaN
 14           22.8            15.0    NaN
 15           23.0            10.9   6.56
 16           23.3            11.9    NaN
 17           23.5             9.8    NaN
 18           23.7             7.9    NaN
 19           22.9             9.2   6.78  ,
     연도 (년)   추계인구(명)  출생자수(명)  사망자수(명)  자연증가수(명)  조출생률 (1000명당)  \
 0     1945  16695819   544786   367308    177478           32.6
 1     1946  19369270   590763   410629    180134           30.5
 2     1947  19836234   686334   361019    325315           35.0
 3     1948  20027393   692948   374512    318436           34.6
 4     1949  20188641   696508   341188    355320           34.5
 ..     ...       ...      ...      ...       ...            ...
 74    2019  51764822   303054   295132      7922            5.9
 75    2020  51836239   272337   304948    -32611            5.3
 76    2021  51744876   260562   317680    -57118            5.1
 77    2022  51628117   249186   372939   -123753            4.9
 78    2023  51430018   229971   352721   -122750            4.5

     조사망률 (1000명당)  자연증가율 (1000명당)  합계출산율
 0            22.0            10.6    NaN
 1            21.2             9.3    NaN
 2            18.2            16.8    NaN
 3            18.7            15.9    NaN
 4            16.9            17.6    NaN
 ..            ...             ...    ...
 74            5.7             0.2  0.918
 75            5.9            -0.6  0.837
 76            6.2            -1.1  0.808
 77            7.3            -2.4  0.778
 78            6.9            -2.4  0.720

 [79 rows x 9 columns],
      연도  1908  1913  1918  1923  1928  1933  1938  1942  1950[21]
 0  기대수명  23.5  25.0  27.0  29.5  33.6  37.4  42.6  44.9      46.7,
           기간  기대수명       기간.1  기대수명.1
 0  1950–1955  47.9  1985–1990    70.3
 1  1955–1960  51.2  1990–1995    72.9
 2  1960–1965  54.8  1995–2000    75.0
 3  1965–1970  58.8  2000–2005    77.2
 4  1970–1975  63.1  2005–2010    79.4
 5  1975–1980  65.0  2010–2015    81.3
 6  1980–1985  67.4  2015-2020    83.5,
       연도  1900  1901  1902  1903  1904  1905  1906  1907  1908  1909  1910[22]
 0  합계출산율     6     6  5.99  5.99  5.98  5.98  5.97  5.96  5.96  5.96       NaN,
       연도  1911  1912  1913  1914  1915  1916  1917  1918  1919  1920[22]
 0  합계출산율  5.95  5.95  5.94  5.94  5.93  5.93  5.92  5.92  5.93      5.94,
       연도  1921  1922  1923  1924[22]
 0  합계출산율  5.95  5.96  5.97      5.95,
    Unnamed: 0_level_0  2021년 6월
    Unnamed: 0_level_1     총 인구수       세대수 세대당 인구    남자 인구수    여자 인구수 남여 비율
 0                  전국  51672400  23256332   2.22  25770033  25902367  0.99
 1               서울특별시   9565990   4405638   2.17   4649442   4916548  0.95
 2               부산광역시   3364358   1533514   2.19   1647291   1717067  0.96
 3               대구광역시   2397646   1059826   2.26   1182380   1215266  0.97
 4               인천광역시   2936367   1280291   2.29   1470544   1465823  1.00
 5               광주광역시   1442647    638270   2.26    713793    728854  0.98
 6               대전광역시   1456107    657781   2.21    726666    729441  1.00
 7               울산광역시   1126369    479971   2.35    578924    547445  1.06
 8             세종특별자치시    362995    148604   2.44    181328    181667  1.00
 9                 경기도  13500688   5763227   2.34   6795088   6705600  1.01
 10                강원도   1535530    738068   2.08    772949    762581  1.01
 11               충청북도   1597503    752237   2.12    810225    787278  1.03
 12               충청남도   2117400    991636   2.14   1082113   1035287  1.05
 13               전라북도   1794345    842662   2.13    892670    901675  0.99
 14               전라남도   1840921    897529   2.05    926398    914523  1.01
 15               경상북도   2632401   1266588   2.08   1326844   1305557  1.02
 16               경상남도   3325840   1496137   2.22   1674612   1651228  1.01
 17            제주특별자치도    675293    304353   2.22    338766    336527  1.01,
    Unnamed: 0_level_0 2021.07 연령별 인구현황                                      \
    Unnamed: 0_level_1          주민등록 인구     0-9세   10-19세   20-29세   30-39세
 0                  전국         51671569  3843759  4737829  6733054  6764334
 1               서울특별시          9558153   599600   764952  1440484  1449434
 2               부산광역시          3361781   224799   267659   422488   409975
 3               대구광역시          2395749   171893   220577   315051   287590
 4               인천광역시          2937440   221097   271547   394550   400637
 5               광주광역시          1442482   116003   153869   207814   182548
 6               대전광역시          1455300   110138   143598   210655   190813
 7               울산광역시          1125727    94428   110546   140710   147449
 8             세종특별자치시           364364    46995    44340    38265    61176
 9                 경기도         13512867  1119413  1326320  1809310  1898501
 10                강원도          1536140   102580   135021   176875   163235
 11               충청북도          1597501   119553   147224   196710   192127
 12               충청남도          2118205   166848   201286   240255   262268
 13               전라북도          1793902   123179   171743   209534   184768
 14               전라남도          1839698   127179   164477   197212   181118
 15               경상북도          2631649   182918   223455   280421   283759
 16               경상남도          3324735   257940   320906   370748   387531
 17            제주특별자치도           675876    59196    70309    81972    81405


      40-49세   50-59세   60-69세   70-79세   80-89세  90-99세 100세 이상
 0   8205797  8591085  7039371  3699044  1790233  256245   10818
 1   1497354  1505745  1274190   696452   286511   40954    2477
 2    505116   556481   544644   294713   120274   14876     756
 3    376422   419517   337985   175933    80677    9732     372
 4    480528   508488   388725   178261    80508   12554     545
 5    237460   233995   169107    94071    41385    5997     233
 6    233122   239271   187703    91741    42113    5937     209
 7    184951   206594   152653    61642    23542    3129      83
 8     71019    46878    32468    14554     7365    1268      36
 9   2295435  2249247  1625682   769763   363493   53391    2312
 10   220452   263759   253985   133653    74741   11374     465
 11   238200   269459   236905   119913    67734    9360     316
 12   326371   337638   294422   171492   102261   14845     519
 13   262826   297818   264807   170737    93733   14225     532
 14   254908   311829   280838   191252   113467   16821     597
 15   378861   453913   427094   241786   139206   19584     652
 16   531015   576482   485482   247494   128534   18093     510
 17   111757   113971    82681    45587    24689    4105     204  ,
    Unnamed: 0_level_0 2020 통계청 인구주택총조사                                \
    Unnamed: 0_level_1              총인구        남자        여자       내국인
 0                  전국         51829136  25915207  25913929  50133493
 1                  읍부          5113052   2624351   2488701   4904647
 2                  면부          4650781   2420392   2230389   4394145
 3                  동부         42065303  20870464  21194839  40834701
 4               서울특별시          9586195   4647733   4938462   9219741
 5               부산광역시          3349016   1638751   1710265   3294102
 6               대국광역시          2410700   1190271   1220429   2373302
 7               인천광역시          2945454   1477064   1468390   2846242
 8               광주광역시          1477573    734140    743433   1447000
 9               대전광역시          1488435    744349    744086   1465507
 10              울산광역시          1135423    585978    549445   1108528
 11            세종특별자치시           353933    177939    175994    346689
 12                경기도         13511676   6828367   6683309  12928214
 13                강원도          1521763    767674    754089   1497109
 14               충청북도          1632088    833819    798269   1574994
 15               충청남도          2176636   1117575   1059061   2077470
 16               전라북도          1802766    899058    903708   1760400
 17               전라남도          1788807    903281    885526   1743571
 18               경상북도          2644757   1338823   1305934   2570210
 19               경상남도          3333056   1692212   1640844   3236387
 20            제주특별자치도           670858    338173    332685    644027


       내국인-남자    내국인-여자  외국인-남자  외국인-여자
 0   24972588  25160905  942619  753024
 1    2494271   2410376  130080   78325
 2    2237761   2156384  182631   74005
 3   20240556  20594145  629908  600694
 4    4474343   4745398  173390  193064
 5    1608877   1685225   29874   25040
 6    1170625   1202677   19646   17752
 7    1422376   1423866   54688   44524
 8     717832    729168   16308   14265
 9     733852    731655   10497   12431
 10    570131    538397   15847   11048
 11    173541    173148    4398    2846
 12   6489718   6438496  338649  244813
 13    754831    742278   12843   11811
 14    799168    775826   34651   22443
 15   1058869   1018601   58706   40460
 16    876451    883949   22607   19759
 17    875732    867839   27549   17687
 18   1294138   1276072   44685   29862
 19   1629100   1607287   63112   33557
 20    323004    321023   15169   11662  ,
    Unnamed: 0_level_0 2020 통계청 인구주택총조사 연령 및 성별 인구                          \
    Unnamed: 0_level_1                         총인구          남자          여자
 0                  전체                  51829136.0  25915207.0  25913929.0
 1                0~4세                   1722081.0    883196.0    838885.0
 2                5~9세                   2264595.0   1161247.0   1103348.0
 3              10~14세                   2267481.0   1168937.0   1098544.0
 4              15~19세                   2449561.0   1271404.0   1178157.0
 5              20~24세                   3364804.0   1762135.0   1602669.0
 6              25~29세                   3666212.0   1959723.0   1706489.0
 7              30~34세                   3301331.0   1742483.0   1558848.0
 8              35~39세                   3805470.0   1970249.0   1835221.0
 9              40~44세                   3906665.0   1997630.0   1909035.0
 10             45~49세                   4325697.0   2196042.0   2129655.0
 11             50~54세                   4372054.0   2195060.0   2176994.0
 12             55~59세                   4210645.0   2109380.0   2101265.0
 13             60~64세                   3885297.0   1912792.0   1972505.0
 14             65~69세                   2734187.0   1314575.0   1419612.0
 15             70~74세                   2027679.0    946539.0   1081140.0
 16             75~79세                   1600867.0    684291.0    916576.0
 17             80~84세                   1120781.0    419037.0    701744.0
 18              85세이상                    803729.0    220487.0    583242.0
 19             85~89세                    563930.0    168643.0    395287.0
 20             90~94세                    192663.0     42951.0    149712.0
 21             95~99세                     41512.0      8024.0     33488.0
 22             100세이상                      5624.0       869.0      4755.0
 23              15세미만                   6254157.0   3213380.0   3040777.0
 24             15~64세                  37287736.0  19116898.0  18170838.0
 25              65세이상                   8287243.0   3584929.0   4702314.0
 26               평균연령                        42.9        41.7        44.1
 27               중위연령                        43.9        42.5        45.3


        성비         내국인      내국인-남자      내국인-여자 내국인-성비
 0   100.0  50133493.0  24972588.0  25160905.0   99.3
 1   105.3   1684917.0    864276.0    820641.0  105.3
 2   105.2   2238916.0   1148248.0   1090668.0  105.3
 3   106.4   2252113.0   1161098.0   1091015.0  106.4
 4   107.9   2422002.0   1258885.0   1163117.0  108.2
 5   110.0   3193316.0   1670636.0   1522680.0  109.7
 6   114.8   3423231.0   1813896.0   1609335.0  112.7
 7   111.8   3032832.0   1579900.0   1452932.0  108.7
 8   107.4   3594213.0   1841713.0   1752500.0  105.1
 9   104.6   3758298.0   1909518.0   1848780.0  103.3
 10  103.1   4195327.0   2123611.0   2071716.0  102.5
 11  100.8   4245683.0   2130025.0   2115658.0  100.7
 12  100.4   4091920.0   2051221.0   2040699.0  100.5
 13   97.0   3795217.0   1869359.0   1925858.0   97.1
 14   92.6   2685773.0   1291921.0   1393852.0   92.7
 15   87.6   2009542.0    938910.0   1070632.0   87.7
 16   74.7   1593192.0    681766.0    911426.0   74.8
 17   59.7   1115804.0    417754.0    698050.0   59.8
 18   37.8    801197.0    219851.0    581346.0   37.8
 19   42.7    562068.0    168181.0    393887.0   42.7
 20   28.7    192149.0     42825.0    149324.0   28.7
 21   24.0     41399.0      7995.0     33404.0   23.9
 22   18.3      5581.0       850.0      4731.0   18.0
 23  105.7   6175946.0   3173622.0   3002324.0  105.7
 24  105.2  35752039.0  18248764.0  17503275.0  104.3
 25   76.2   8205508.0   3550202.0   4655306.0   76.3
 26      -        43.1        41.9        44.2      -
 27      -        44.3        42.9        45.6      -  ,
    Unnamed: 0_level_0 2020 행정구역별 가구원수별 가구(일반가구)[31]                    \
    Unnamed: 0_level_1                        일반가구_계       1인       2인
 0                  전국                      20926710  6643354  5864525
 1               서울특별시                       3982290  1390701  1033901
 2               부산광역시                       1405037   455207   411455
 3               대구광역시                        985816   304543   276237
 4               인천광역시                       1147200   324841   316387
 5               광주광역시                        599217   193948   162403
 6               대전광역시                        631208   228842   164795
 7               울산광역시                        444087   122848   123591
 8             세종특별자치시                        139106    43577    33204
 9                 경기도                       5098431  1406010  1350139
 10                강원도                        661039   231371   206755
 11               충청북도                        678922   236208   198840
 12               충청남도                        892222   304973   264909
 13               전라북도                        755575   255269   233334
 14               전라남도                        761518   256633   251506
 15               경상북도                       1131819   388791   363061
 16               경상남도                       1350155   417737   399700
 17            제주특별자치도                        263068    81855    74308



In [3]:
len(tdata)

34

In [4]:
tdata[0]

   Unnamed: 0_level_0    2016           2017          2018          2019  \
   Unnamed: 0_level_1      인구   인구밀도      인구   인구밀도     인구   인구밀도     인구
0                   계   51218    510   51362    512  51607    514  51709
1                  서울    9843  16263    9766  16136   9705  16034   9662
2                  부산  약3,500   4477  약3,100   4447   3400   4416   3300
3                  대구    2461   2786    2458   2782   2450   2773   2432
4                  인천    2907   2736    2924   2750   2939   2764   2944
5                  광주    1502   2997    1495   2984   1493   2980   1494
6                  대전    1536   2848    1528   2832   1518   2813   1509
7                  울산    1166   1099    1159   1092   1154   1088   1147
8                  세종     234    504     266    571    304    653    331
9                  경기   12600   1237   12786   1255  13031   1279  13238
10                 강원    1521     90    1521     90   1521     90   1517
11                 충북    1601    216    1609    217   1619    219   1626
12                 충남    2126    258    2153    262   2180    265   2188
13                 전북    1835    227    1829    227   1820    226   1803
14                 전남    1798    146    1795    146   1790    145   1773
15                 경북    2683    141    2675    141   2674    141   2665
16                 경남    3338    317    3339    317   3356    318   3350
17                 제주     618    334     635    343    653    353    660
18                수도권   25350   2139   25476   2149  25675   2165  25844

            2020
     인구밀도     인구   인구밀도
0     515  51781    516
1   15964   9602  15865
2    4380   3344   4342
3    2753   2419   2738
4    2769   2951   2770
5    2980   1488   2969
6    2796   1500   2780
7    1080   1140   1073
8     712    349    750
9    1299  13405   1315
10     90   1515     90
11    219   1632    220
12    265   2204    267
13    223   1792    222
14    144   1764    143
15    140   2655    140
16    318   3350    318
17    356    670    362
18   2179  25958   2188

In [5]:
tdata[3]

  대한민국의 주민등록 인구                                                      \
           2008         2009         2010         2013         2015
0      49540367  ↗49,773,145  ↗50,515,666  ↗51,141,463  ↗51,529,338

                                                                    \
          2016         2018     2019. 10     2019. 11     2019. 12
0  ↗51,696,216  ↗51,826,059  ↗51,850,705  ↗51,851,427  ↘51,849,861


          2020     2021. 07
0  ↘51,779,203  ↘51,671,569

In [6]:
df1 = tdata[4] # 광복이전 데이타
df2 = tdata[5] # 광복이후 데이타

In [7]:
df1

,연도 (년),추계인구(명),출생자수(명),사망자수(명),자연증가수(명),조출생률 (1000명당),조사망률 (1000명당),자연증가율 (1000명당),합계출산율
0,1925,12997611,558897,359042,199855,43.0,27.6,15.4,6.59
1,1926,13052741,511667,337948,173719,39.2,25.9,13.3,NaN
2,1927,13037169,534524,353818,180706,41.0,27.1,13.9,NaN
3,1928,13105131,566142,357701,208441,43.2,27.3,15.9,NaN
4,1929,13124279,566969,414366,152603,43.2,31.6,11.6,NaN
5,1930,13880469,587144,322611,264533,42.3,23.2,19.1,6.41
6,1931,13895052,589428,346800,242628,42.4,25.0,17.4,NaN
7,1932,14117191,600545,384287,216258,42.5,27.2,15.3,NaN
8,1933,14229277,607021,336232,270789,42.7,23.6,19.1,NaN
9,1934,14449155,618135,356515,261620,42.8,24.7,18.1,NaN
10,1935,15061960,646158,377454,268704,42.9,25.1,17.8,6.60
11,1936,15114775,639355,381806,257549,42.3,25.3,17.0,NaN
12,1937,15235383,636839,342575,294264,41.8,22.5,19.3,NaN
13,1938,15358193,569299,347025,222274,37.1,22.6,14.5,NaN
14,1939,15486028,585482,353391,232091,37.8,22.8,15.0,NaN
15,1940,15559741,527964,358496,169468,33.9,23.0,10.9,6.56
16,1941,15745478,553690,366239,187451,35.2,23.3,11.9,NaN
17,1942,16013742,533768,376003,157765,33.3,23.5,9.8,NaN
18,1943,16239721,513846,384881,128965,31.6,23.7,7.9,NaN
19,1944,16599172,533215,380121,153094,32.1,22.9,9.2,6.78

In [8]:
df2

,연도 (년),추계인구(명),출생자수(명),사망자수(명),자연증가수(명),조출생률 (1000명당),조사망률 (1000명당),자연증가율 (1000명당),합계출산율
0,1945,16695819,544786,367308,177478,32.6,22.0,10.6,NaN
1,1946,19369270,590763,410629,180134,30.5,21.2,9.3,NaN
2,1947,19836234,686334,361019,325315,35.0,18.2,16.8,NaN
3,1948,20027393,692948,374512,318436,34.6,18.7,15.9,NaN
4,1949,20188641,696508,341188,355320,34.5,16.9,17.6,NaN
...,...,...,...,...,...,...,...,...,...
74,2019,51764822,303054,295132,7922,5.9,5.7,0.2,0.918
75,2020,51836239,272337,304948,-32611,5.3,5.9,-0.6,0.837
76,2021,51744876,260562,317680,-57118,5.1,6.2,-1.1,0.808
77,2022,51628117,249186,372939,-123753,4.9,7.3,-2.4,0.778
78,2023,51430018,229971,352721,-122750,4.5,6.9,-2.4,0.720

In [9]:
# 광복이전과 이후 데이타를 병합하자 , 행방향 병합

df = pd.concat([df1,df2])

df

,연도 (년),추계인구(명),출생자수(명),사망자수(명),자연증가수(명),조출생률 (1000명당),조사망률 (1000명당),자연증가율 (1000명당),합계출산율
0,1925,12997611,558897,359042,199855,43.0,27.6,15.4,6.590
1,1926,13052741,511667,337948,173719,39.2,25.9,13.3,NaN
2,1927,13037169,534524,353818,180706,41.0,27.1,13.9,NaN
3,1928,13105131,566142,357701,208441,43.2,27.3,15.9,NaN
4,1929,13124279,566969,414366,152603,43.2,31.6,11.6,NaN
...,...,...,...,...,...,...,...,...,...
74,2019,51764822,303054,295132,7922,5.9,5.7,0.2,0.918
75,2020,51836239,272337,304948,-32611,5.3,5.9,-0.6,0.837
76,2021,51744876,260562,317680,-57118,5.1,6.2,-1.1,0.808
77,2022,51628117,249186,372939,-123753,4.9,7.3,-2.4,0.778
78,2023,51430018,229971,352721,-122750,4.5,6.9,-2.4,0.720

In [2]:
# %pip install lxml
# %pip install html5lib
# %pip install bs4
# %pip install beautifulsoup4

# !pip list
# !pip install beautifulsoup4

import pandas as pd

url = "https://finance.naver.com/marketindex/exchangeDailyQuote.naver?marketindexCd=FX_USDKRW&page=5"

exchange = pd.read_html(url, encoding='cp949') # encoding='euc-kr'
exchange

c:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages\bs4\__init__.py:228: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

[           날짜   매매기준율  전일대비       현찰               송금
            날짜   매매기준율  전일대비     사실 때     파실 때   보내실 때   받으실 때
 0  2024.05.10  1372.5   5.5  1396.51  1348.49  1385.9  1359.1
 1  2024.05.09  1367.0   1.0  1390.92  1343.08  1380.3  1353.7
 2  2024.05.08  1366.0   6.0  1389.90  1342.10  1379.3  1352.7
 3  2024.05.07  1360.0   1.0  1383.80  1336.20  1373.3  1346.7
 4  2024.05.03  1359.0  12.0  1382.78  1335.22  1372.3  1345.7
 5  2024.05.02  1371.0  14.0  1394.99  1347.01  1384.4  1357.6
 6  2024.04.30  1385.0   9.0  1409.23  1360.77  1398.5  1371.5
 7  2024.04.29  1376.0   3.0  1400.08  1351.92  1389.4  1362.6
 8  2024.04.26  1379.0   4.0  1403.13  1354.87  1392.5  1365.5
 9  2024.04.25  1375.0   3.0  1399.06  1350.94  1388.4  1361.6]